html,body{
  height:100%;
  margin:0;
  background-color:  #eef2f7;
  transition: background 0.6s ease;

}

.heading{
  justify-content: center;
  display:flex;
}

.form{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;  
  min-height:40vh; 
  width:100%;    
}

form{
  padding: 50px;
  width:500px;
  padding:40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 50px 50px rgba(36, 3, 3, 0.08);
}


input {
  width: 93%;
  padding: 14px 16px;
  font-size: 16px;
}

.button{
  display:block;
  width:100px;
  padding:12px;;
  background-color: red;
  margin:20px auto;
  border:none;
  color:white;

}

.button:hover{
  background-color: rgb(239, 14, 14);
  cursor:pointer;
}


